@media screen and (max-width: 1370px)
	.container
		width: 950px
	
	.popup
		&_tariff
			width: 950px

	.panel
		&__nav
			margin-left: 75px

	.tariffs
		&__list
			margin-left: -10px
			margin-right: -10px
		&__item
			margin-left: 10px
			margin-right: 10px
			width: 290px
		&__data
			padding-left: 0
			li
				font-size: 19px
				margin-bottom: 15px

	.bar-list
		&__list
			li
				width: 33.3333%

	.sub, .consultation
		background-color: #660066
		&__img
			display: none
		&__wrap
			float: none
			width: 950px
			padding-left: 15px
			padding-right: 15px
			margin-left: auto
			margin-right: auto
			min-height: 1px
			padding-bottom: 30px
		&__title
			text-align: center
			padding-top: 20px
		&__title, &__form, &__desc
			padding-left: 0
			width: 100%
		&__form, &__desc
			max-width: 350px
			margin-left: auto
			margin-right: auto

	.service
		background: #210334
		&__content, &__nav
			width: 100%
		&__nav
			padding-top: 20px
			padding-bottom: 30px
			padding-left: 0
			&-title
				text-align: center
				margin-bottom: 30px
			&-list
				margin-left: 70px
			li
				width: 33.3333%
				display: inline-block
				vertical-align: top
	.advantages
		&__item
			br
				display: none
		&__text
			max-width: 300px
			margin-left: auto
			margin-right: auto
	.work
		padding-top: 20px
		padding-bottom: 20px
		&__item
			text-align: center
		&__icon
			margin-bottom: 10px
		&__icon, &__text
			width: 100%
		&__text
			padding-left: 0
	
	.footer
		&__list
			padding-top: 35px
			padding-bottom: 35px
		&__item
			text-align: center
		&__icon, &__title, &__text
			padding-left: 15px
			padding-right: 15px
		&__title
			font-size: 18px
			margin-bottom: 7px
		&__text
			line-height: 22px
			br
				display: none
		&__copy
			width: auto
		&__button
@media screen and (max-width: 970px)
	.container
		width: 750px

	.panel
		&__nav
			margin-left: 28px
			li
				margin-right: 25px
	
	.banner
		&_main
			.banner
				&__title
					padding-top: 120px
		&_service
			padding-top: 120px

	.title-labels
		font-size: 34px

	.tariffs
		padding-top: 30px
		&__title
			margin-bottom: 30px
		&__list
			margin-left: 0
			margin-right: 0
		&__item
			width: 100%
			margin-left: 0
			margin-right: 0
			margin-bottom: 20px
			&:last-of-type
				margin-bottom: 0
		&__wrap
			min-height: 1px

	.bar-list
		padding-top: 30px
		padding-bottom: 25px
		&__title
			margin-bottom: 25px
		&__list
			li
				width: 50%
				padding-left: 30px
				margin-bottom: 15px
				&:before
					left: 0
	.sub, .consultation
		&__wrap
			float: none
			width: 750px

	.work
		padding-bottom: 0
		&__item
			width: 50%
			margin-bottom: 30px
			padding-left: 0 !important

	.footer
		&__list
			padding-bottom: 15px
		&__item
			width: 50%
			margin-bottom: 25px
		&__icon, &__title, &__text
			padding-left: 0
			padding-right: 0
			
@media screen and (max-width: 767px)
	.container
		width: 100%