// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$anketa-name: 'anketa'
$anketa-x: 162px
$anketa-y: 156px
$anketa-offset-x: -162px
$anketa-offset-y: -156px
$anketa-width: 78px
$anketa-height: 78px
$anketa-total-width: 300px
$anketa-total-height: 258px
$anketa-image: '../../img/sprite.png'
$anketa: (162px, 156px, -162px, -156px, 78px, 78px, 300px, 258px, '../../img/sprite.png', 'anketa', )
$arrow-left-name: 'arrow-left'
$arrow-left-x: 290px
$arrow-left-y: 109px
$arrow-left-offset-x: -290px
$arrow-left-offset-y: -109px
$arrow-left-width: 8px
$arrow-left-height: 16px
$arrow-left-total-width: 300px
$arrow-left-total-height: 258px
$arrow-left-image: '../../img/sprite.png'
$arrow-left: (290px, 109px, -290px, -109px, 8px, 16px, 300px, 258px, '../../img/sprite.png', 'arrow-left', )
$arrow-right-name: 'arrow-right'
$arrow-right-x: 290px
$arrow-right-y: 92px
$arrow-right-offset-x: -290px
$arrow-right-offset-y: -92px
$arrow-right-width: 10px
$arrow-right-height: 17px
$arrow-right-total-width: 300px
$arrow-right-total-height: 258px
$arrow-right-image: '../../img/sprite.png'
$arrow-right: (290px, 92px, -290px, -92px, 10px, 17px, 300px, 258px, '../../img/sprite.png', 'arrow-right', )
$check-name: 'check'
$check-x: 241px
$check-y: 208px
$check-offset-x: -241px
$check-offset-y: -208px
$check-width: 27px
$check-height: 21px
$check-total-width: 300px
$check-total-height: 258px
$check-image: '../../img/sprite.png'
$check: (241px, 208px, -241px, -208px, 27px, 21px, 300px, 258px, '../../img/sprite.png', 'check', )
$coctail-pink-name: 'coctail-pink'
$coctail-pink-x: 143px
$coctail-pink-y: 81px
$coctail-pink-offset-x: -143px
$coctail-pink-offset-y: -81px
$coctail-pink-width: 63px
$coctail-pink-height: 70px
$coctail-pink-total-width: 300px
$coctail-pink-total-height: 258px
$coctail-pink-image: '../../img/sprite.png'
$coctail-pink: (143px, 81px, -143px, -81px, 63px, 70px, 300px, 258px, '../../img/sprite.png', 'coctail-pink', )
$coctail-white-name: 'coctail-white'
$coctail-white-x: 241px
$coctail-white-y: 0px
$coctail-white-offset-x: -241px
$coctail-white-offset-y: 0px
$coctail-white-width: 59px
$coctail-white-height: 92px
$coctail-white-total-width: 300px
$coctail-white-total-height: 258px
$coctail-white-image: '../../img/sprite.png'
$coctail-white: (241px, 0px, -241px, 0px, 59px, 92px, 300px, 258px, '../../img/sprite.png', 'coctail-white', )
$cross-button-name: 'cross-button'
$cross-button-x: 268px
$cross-button-y: 208px
$cross-button-offset-x: -268px
$cross-button-offset-y: -208px
$cross-button-width: 18px
$cross-button-height: 18px
$cross-button-total-width: 300px
$cross-button-total-height: 258px
$cross-button-image: '../../img/sprite.png'
$cross-button: (268px, 208px, -268px, -208px, 18px, 18px, 300px, 258px, '../../img/sprite.png', 'cross-button', )
$delivery-name: 'delivery'
$delivery-x: 143px
$delivery-y: 0px
$delivery-offset-x: -143px
$delivery-offset-y: 0px
$delivery-width: 98px
$delivery-height: 81px
$delivery-total-width: 300px
$delivery-total-height: 258px
$delivery-image: '../../img/sprite.png'
$delivery: (143px, 0px, -143px, 0px, 98px, 81px, 300px, 258px, '../../img/sprite.png', 'delivery', )
$doc-name: 'doc'
$doc-x: 0px
$doc-y: 156px
$doc-offset-x: 0px
$doc-offset-y: -156px
$doc-width: 84px
$doc-height: 84px
$doc-total-width: 300px
$doc-total-height: 258px
$doc-image: '../../img/sprite.png'
$doc: (0px, 156px, 0px, -156px, 84px, 84px, 300px, 258px, '../../img/sprite.png', 'doc', )
$flipchart-name: 'flipchart'
$flipchart-x: 0px
$flipchart-y: 66px
$flipchart-offset-x: 0px
$flipchart-offset-y: -66px
$flipchart-width: 89px
$flipchart-height: 90px
$flipchart-total-width: 300px
$flipchart-total-height: 258px
$flipchart-image: '../../img/sprite.png'
$flipchart: (0px, 66px, 0px, -66px, 89px, 90px, 300px, 258px, '../../img/sprite.png', 'flipchart', )
$gold-name: 'gold'
$gold-x: 89px
$gold-y: 66px
$gold-offset-x: -89px
$gold-offset-y: -66px
$gold-width: 49px
$gold-height: 33px
$gold-total-width: 300px
$gold-total-height: 258px
$gold-image: '../../img/sprite.png'
$gold: (89px, 66px, -89px, -66px, 49px, 33px, 300px, 258px, '../../img/sprite.png', 'gold', )
$label-left-name: 'label-left'
$label-left-x: 69px
$label-left-y: 240px
$label-left-offset-x: -69px
$label-left-offset-y: -240px
$label-left-width: 69px
$label-left-height: 18px
$label-left-total-width: 300px
$label-left-total-height: 258px
$label-left-image: '../../img/sprite.png'
$label-left: (69px, 240px, -69px, -240px, 69px, 18px, 300px, 258px, '../../img/sprite.png', 'label-left', )
$label-right-name: 'label-right'
$label-right-x: 0px
$label-right-y: 240px
$label-right-offset-x: 0px
$label-right-offset-y: -240px
$label-right-width: 69px
$label-right-height: 18px
$label-right-total-width: 300px
$label-right-total-height: 258px
$label-right-image: '../../img/sprite.png'
$label-right: (0px, 240px, 0px, -240px, 69px, 18px, 300px, 258px, '../../img/sprite.png', 'label-right', )
$logo-name: 'logo'
$logo-x: 0px
$logo-y: 0px
$logo-offset-x: 0px
$logo-offset-y: 0px
$logo-width: 143px
$logo-height: 66px
$logo-total-width: 300px
$logo-total-height: 258px
$logo-image: '../../img/sprite.png'
$logo: (0px, 0px, 0px, 0px, 143px, 66px, 300px, 258px, '../../img/sprite.png', 'logo', )
$manager-name: 'manager'
$manager-x: 84px
$manager-y: 156px
$manager-offset-x: -84px
$manager-offset-y: -156px
$manager-width: 78px
$manager-height: 78px
$manager-total-width: 300px
$manager-total-height: 258px
$manager-image: '../../img/sprite.png'
$manager: (84px, 156px, -84px, -156px, 78px, 78px, 300px, 258px, '../../img/sprite.png', 'manager', )
$phone-name: 'phone'
$phone-x: 241px
$phone-y: 92px
$phone-offset-x: -241px
$phone-offset-y: -92px
$phone-width: 49px
$phone-height: 83px
$phone-total-width: 300px
$phone-total-height: 258px
$phone-image: '../../img/sprite.png'
$phone: (241px, 92px, -241px, -92px, 49px, 83px, 300px, 258px, '../../img/sprite.png', 'phone', )
$platinum-name: 'platinum'
$platinum-x: 89px
$platinum-y: 99px
$platinum-offset-x: -89px
$platinum-offset-y: -99px
$platinum-width: 49px
$platinum-height: 33px
$platinum-total-width: 300px
$platinum-total-height: 258px
$platinum-image: '../../img/sprite.png'
$platinum: (89px, 99px, -89px, -99px, 49px, 33px, 300px, 258px, '../../img/sprite.png', 'platinum', )
$silver-name: 'silver'
$silver-x: 241px
$silver-y: 175px
$silver-offset-x: -241px
$silver-offset-y: -175px
$silver-width: 49px
$silver-height: 33px
$silver-total-width: 300px
$silver-total-height: 258px
$silver-image: '../../img/sprite.png'
$silver: (241px, 175px, -241px, -175px, 49px, 33px, 300px, 258px, '../../img/sprite.png', 'silver', )
$star-name: 'star'
$star-x: 206px
$star-y: 81px
$star-offset-x: -206px
$star-offset-y: -81px
$star-width: 17px
$star-height: 16px
$star-total-width: 300px
$star-total-height: 258px
$star-image: '../../img/sprite.png'
$star: (206px, 81px, -206px, -81px, 17px, 16px, 300px, 258px, '../../img/sprite.png', 'star', )
$spritesheet-width: 300px
$spritesheet-height: 258px
$spritesheet-image: '../../img/sprite.png'
$spritesheet-sprites: ($anketa, $arrow-left, $arrow-right, $check, $coctail-pink, $coctail-white, $cross-button, $delivery, $doc, $flipchart, $gold, $label-left, $label-right, $logo, $manager, $phone, $platinum, $silver, $star, )
$spritesheet: (300px, 258px, '../../img/sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)

.icon-
  &anketa
    @include sprite($anketa)
  &arrow-left
    @include sprite($arrow-left)
  &arrow-right
    @include sprite($arrow-right)
  &check
    @include sprite($check)
  &coctail-pink
    @include sprite($coctail-pink)
  &coctail-white
    @include sprite($coctail-white)
  &cross-button
    @include sprite($cross-button)
  &delivery
    @include sprite($delivery)
  &doc
    @include sprite($doc)
  &flipchart
    @include sprite($flipchart)
  &gold
    @include sprite($gold)
  &label-left
    @include sprite($label-left)
  &label-right
    @include sprite($label-right)
  &logo
    @include sprite($logo)
  &manager
    @include sprite($manager)
  &phone
    @include sprite($phone)
  &platinum
    @include sprite($platinum)
  &silver
    @include sprite($silver)
  &star
    @include sprite($star)