/* Including styles files */
@import sprite.sass
@import fonts.sass
@import '../../libs/fancybox/dist/jquery.fancybox.css'


/* Global settings */
$font-size: 18px
$font-family-1: 'Roboto Condensed', sans-serif
$font-family-2: 'Amatic SC', cursive
$color-1: #fff



*
	padding: 0
	margin: 0
	border: 0
	box-sizing: border-box

body
	font-size: $font-size
	font-family: $font-family-1
	color: $color-1
	background: white

header, nav, main, section, article, aside, footer, li, .block
	display: block

.inline-block
	display: inline-block

.hidden
	display: none



h1, h2, h3, h4, h5, h6
	display: inline
	font-size: inherit
	font-weight: inherit


ul
	font-size: 0
	li
		display: inline-block
		font-size: $font-size
		list-style-type: none


a
	color: $color-1
	text-decoration: none
	border-bottom: 1px solid transparent
	transition: .3s

img
	display: block


.icon
	display: inline-block
	vertical-align: middle

.text, .button, .slick-slide, .area
	outline: none

/* Grid */
.container
	position: relative
	width: (1280px + 30px)
	padding-left: 15px
	padding-right: 15px

.row, .clearfix
	&:before, &:after
		display: table
		content: ''
		box-sizing: border-box
	&:after
		clear: both

.row_line
	text-align: center
	font-size: 0

.col
	min-height: 1px
	float: left
	display: block
	&_line
		display: inline-block
		vertical-align: top
		font-size: $font-size
		min-height: 1px
	&-1
		width: (100% / 1)
	&-2
		width: (100% / 2)
	&-3
		width: (100% / 3)
	&-4
		width: (100% / 4)
	&-5
		width: (100% / 5)
 

	



/* Form elements */
.text
	display: block
	font-size: $font-size
	font-family: $font-family-1
	background: white
	width: 100%
	&::placeholder
		color: #878686

.area
	font-size: $font-size
	font-family: $font-family-1
	display: block
	background: white
	resize: none
	border: 1px solid #f0f0f0
	&::placeholder
		color: #878686


.button
	position: relative
	display: inline-block
	font-size: $font-size
	font-family: $font-family-1
	cursor: pointer
	margin-left: auto
	margin-right: auto
	text-align: center
	transition: .3s
	background-color: #ff3366
	color: white
	&_small
		padding: 2px 24px
	&_normal
		border-radius: 5px
		font-size: 24px
		font-weight: 700
		min-width: 280px
		padding-top: 21px
		padding-bottom: 21px
		border-bottom: 5px solid #e22353
	&:hover
		background-color: #e22353




.text, .area
	transition: border-color .3s




/* Blocks */ 
.left
	float: left

.right
	float: right

.center, .container
	margin-left: auto
	margin-right: auto

.title
	text-align: center
	&-labels
		color: #ffcc00
		font-size: 48px
		line-height: 52px
		span
			display: inline-block
			vertical-align: middle
			&:before, &:after
				display: inline-block
				vertical-align: middle
				content: ''
				position: relative
				top: -3px
			&:before
				@include sprite($label-left)
				margin-right: 17px
			&:after
				@include sprite($label-right)
				margin-left: 17px

.popup
	display: none

.panel
	padding-top: 13px
	background-color: #210334
	&:before
		z-index: 0
		position: absolute
		content: ''
		background: url('../../img/bg/blik.png') no-repeat center
		top: -13px
		width: 100%
		height: 109px
	.container
		z-index: 1
	&__logo
		
	
	&__nav
		margin-left: 275px
		padding-top: 19px
		> ul
		 > li
		 	> a
		 		&:hover
		 			color: $color-1
		li
			position: relative
			font-size: 24px
			margin-right: 75px
			&:hover
				> ul
					display: block
			> a
				color: #ff3366
				padding-bottom: 32px
			> ul
				background-color: #ff3366
				width: 305px
				top: 100%
				padding-top: 15px
				padding-bottom: 15px
				margin-left: -10px
				&:before
					position: relative
					top: -29px
					left: 30px
					content: ''
					width: 0
					height: 0
					border-style: solid
					border-width: 0 14.5px 15px 14.5px
					border-color: transparent transparent #ff3366 transparent
				li
					display: block
					margin-right: 0
				a
					color: $color-1
				> li
					> a
						padding: 12px 28px
						&:hover
							background-color: #cc1e49
					> ul
						background-color: #230436
						padding-top: 15px
						padding-bottom: 15px
						width: 230px
						top: 0
						right: -230px
						&:before
							position: relative
							top: 13px
							left: 0px
							content: ''
							width: 0
							height: 0
							border-style: solid
							border-width: 14.5px 0 14.5px 13px
							border-color: transparent transparent transparent #cc1e49
						> li
							> a
								&:hover
									background-color: #701786
						> li
							> a
								padding: 8.5px 20px 8.5px 40px
			ul
				z-index: 10
				display: none
				position: absolute
		a
			display: block
	&__call
		text-align: right
	&__phone
		font-size: 24px
		padding-top: 4px
		span
			font-weight: 700
	&__button
		margin-top: 7px

.banner
	background-position: center
	background-size: cover
	background-repeat: no-repeat
	&_main
		min-height: 555px
		margin-top: -1px
		margin-bottom: -2px
		.banner
			&__title
				font-size: 100px
				line-height: 100px
				max-width: 780px
				font-weight: 700
				padding-top: 185px
	&_service
		display: none
	&_gallery
		display: none
	&__title
		font-family: $font-family-2


.tariffs
	background-image: url('../../img/bg/bg-lines.png')
	padding-top: 70px
	padding-bottom: 45px
	&__title
		margin-bottom: 70px
	&__list
		margin-left: -35px
		margin-right: -35px
	&__item
		width: 370px
		margin-left: 40px
		margin-right: 40px
		color: #333333
		&:nth-of-type(1)
			background-color: #eaeaea
		&:nth-of-type(2)
			background-color: #efe4b8
			.tariffs
				&__wrap
					border-color: #ddcf97
				&__price
					border-color:#ffcc00
		&:nth-of-type(3)
			background-color: #efefef
	&__wrap
		padding: 11px 17px
		margin: 16px 20px
		border: 2px solid #d8d8d8
	&__icon
		margin-bottom: 18px
	&__subtitle
		font-size: 36px
		margin-bottom: 17px
	&__price
		border: 3px dotted #ffbec3
		width: 170px
		margin-left: auto
		margin-right: auto
		padding-top: 14px
		padding-bottom: 14px
		margin-bottom: 22px
		p
			&:nth-of-type(1)
				text-decoration: line-through
			&:nth-of-type(2)
				color: #ff0033
				font-weight: 700
				font-size: 30px
	&__data
		font-size: 20px
		text-align: left
		margin-bottom: 15px
		padding-left: 20px
		li
			margin-bottom: 25px
			&:last-of-type
				margin-bottom: 0

.bg
	background-position: center
	background-size: cover
