.icon-anketa {
  background-image: url(../../img/sprite.png);
  background-position: -84px -90px;
  width: 78px;
  height: 78px; }

.icon-arrow-left {
  background-image: url(../../img/sprite.png);
  background-position: -282px -203px;
  width: 8px;
  height: 16px; }

.icon-arrow-right {
  background-image: url(../../img/sprite.png);
  background-position: -265px -219px;
  width: 10px;
  height: 17px; }

.icon-check {
  background-image: url(../../img/sprite.png);
  background-position: -265px -182px;
  width: 27px;
  height: 21px; }

.icon-coctail-pink {
  background-image: url(../../img/sprite.png);
  background-position: 0px -174px;
  width: 63px;
  height: 70px; }

.icon-coctail-white {
  background-image: url(../../img/sprite.png);
  background-position: -187px -78px;
  width: 59px;
  height: 92px; }

.icon-cross-button {
  background-image: url(../../img/sprite.png);
  background-position: -292px -182px;
  width: 18px;
  height: 18px; }

.icon-delivery {
  background-image: url(../../img/sprite.png);
  background-position: -89px 0px;
  width: 98px;
  height: 81px; }

.icon-doc {
  background-image: url(../../img/sprite.png);
  background-position: 0px -90px;
  width: 84px;
  height: 84px; }

.icon-flipchart {
  background-image: url(../../img/sprite.png);
  background-position: 0px 0px;
  width: 89px;
  height: 90px; }

.icon-gold {
  background-image: url(../../img/sprite.png);
  background-position: -265px -149px;
  width: 49px;
  height: 33px; }

.icon-label-left {
  background-image: url(../../img/sprite.png);
  background-position: -63px -174px;
  width: 69px;
  height: 18px; }

.icon-label-right {
  background-image: url(../../img/sprite.png);
  background-position: -132px -174px;
  width: 69px;
  height: 18px; }

.icon-manager {
  background-image: url(../../img/sprite.png);
  background-position: -187px 0px;
  width: 78px;
  height: 78px; }

.icon-phone {
  background-image: url(../../img/sprite.png);
  background-position: -265px 0px;
  width: 49px;
  height: 83px; }

.icon-platinum {
  background-image: url(../../img/sprite.png);
  background-position: -265px -116px;
  width: 49px;
  height: 33px; }

.icon-silver {
  background-image: url(../../img/sprite.png);
  background-position: -265px -83px;
  width: 49px;
  height: 33px; }

.icon-star {
  background-image: url(../../img/sprite.png);
  background-position: -265px -203px;
  width: 17px;
  height: 16px; }
