/* Including styles files */
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC:400,700");
@import url(../../libs/fancybox/dist/jquery.fancybox.css);
.icon-anketa {
  background-image: url(../../img/sprite.png);
  background-position: -84px -90px;
  width: 78px;
  height: 78px; }

.icon-arrow-left {
  background-image: url(../../img/sprite.png);
  background-position: -331px -121px;
  width: 8px;
  height: 16px; }

.icon-arrow-right {
  background-image: url(../../img/sprite.png);
  background-position: -332px -103px;
  width: 10px;
  height: 17px; }

.icon-check {
  background-image: url(../../img/sprite.png);
  background-position: -314px -82px;
  width: 27px;
  height: 21px; }

.icon-coctail-pink {
  background-image: url(../../img/sprite.png);
  background-position: 0px -174px;
  width: 63px;
  height: 70px; }

.icon-coctail-white {
  background-image: url(../../img/sprite.png);
  background-position: -187px -78px;
  width: 59px;
  height: 92px; }

.icon-cross-button {
  background-image: url(../../img/sprite.png);
  background-position: -314px -103px;
  width: 18px;
  height: 18px; }

.icon-delivery {
  background-image: url(../../img/sprite.png);
  background-position: -89px 0px;
  width: 98px;
  height: 81px; }

.icon-doc {
  background-image: url(../../img/sprite.png);
  background-position: 0px -90px;
  width: 84px;
  height: 84px; }

.icon-flipchart {
  background-image: url(../../img/sprite.png);
  background-position: 0px 0px;
  width: 89px;
  height: 90px; }

.icon-gold {
  background-image: url(../../img/sprite.png);
  background-position: -265px -165px;
  width: 49px;
  height: 33px; }

.icon-label-left {
  background-image: url(../../img/sprite.png);
  background-position: -112px -174px;
  width: 69px;
  height: 18px; }

.icon-label-right {
  background-image: url(../../img/sprite.png);
  background-position: -181px -174px;
  width: 69px;
  height: 18px; }

.icon-manager {
  background-image: url(../../img/sprite.png);
  background-position: -187px 0px;
  width: 78px;
  height: 78px; }

.icon-phone {
  background-image: url(../../img/sprite.png);
  background-position: -265px 0px;
  width: 49px;
  height: 83px; }

.icon-platinum {
  background-image: url(../../img/sprite.png);
  background-position: -265px -198px;
  width: 49px;
  height: 33px; }

.icon-silver {
  background-image: url(../../img/sprite.png);
  background-position: -63px -174px;
  width: 49px;
  height: 33px; }

.icon-star {
  background-image: url(../../img/sprite.png);
  background-position: -314px -121px;
  width: 17px;
  height: 16px; }

.icon-triangles-left {
  background-image: url(../../img/sprite.png);
  background-position: -314px 0px;
  width: 31px;
  height: 82px; }

.icon-triangles-right {
  background-image: url(../../img/sprite.png);
  background-position: -265px -83px;
  width: 32px;
  height: 82px; }

/* Including fonts */
/* Global settings */
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-size: 18px;
  font-family: "Roboto Condensed", sans-serif;
  color: #fff;
  background: white; }

header, nav, main, section, article, aside, footer, li, .block {
  display: block; }

.inline-block {
  display: inline-block; }

.hidden {
  display: none; }

h1, h2, h3, h4, h5, h6 {
  display: inline;
  font-size: inherit;
  font-weight: inherit; }

ul {
  font-size: 0; }
  ul li {
    display: inline-block;
    font-size: 18px;
    list-style-type: none; }

a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: .3s;
  transition: .3s; }

img {
  display: block; }

.icon {
  display: inline-block;
  vertical-align: middle; }

.input, .button, .slick-slide, .textarea {
  outline: none; }

/* Grid */
.container {
  position: relative;
  width: 1310px;
  padding-left: 15px;
  padding-right: 15px; }

.row:before, .row:after, .clearfix:before, .clearfix:after {
  display: table;
  content: '';
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.row:after, .clearfix:after {
  clear: both; }

.row_line {
  text-align: center;
  font-size: 0; }

.col {
  min-height: 1px;
  float: left;
  display: block; }
  .col_line {
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    min-height: 1px; }
  .col-1 {
    width: 100%; }
  .col-2 {
    width: 50%; }
  .col-3 {
    width: 33.33333%; }
  .col-4 {
    width: 25%; }
  .col-5 {
    width: 20%; }

/* Form elements */
.input {
  display: block;
  font-family: "Roboto Condensed", sans-serif;
  background: white;
  width: 100%;
  font-size: 24px; }
  .input::-webkit-input-placeholder {
    color: #878686; }
  .input::-moz-placeholder {
    color: #878686; }
  .input:-ms-input-placeholder {
    color: #878686; }
  .input::placeholder {
    color: #878686; }
  .input-border-no {
    padding: 15.5px 25px; }
  .input_border {
    padding: 13.5px 20px;
    border: 2px solid #cccccc; }

.textarea {
  font-size: 24px;
  font-family: "Roboto Condensed", sans-serif;
  display: block;
  background: white;
  resize: none;
  border: 2px solid #cccccc;
  width: 100%;
  padding: 13.5px 20px; }
  .textarea::-webkit-input-placeholder {
    color: #878686; }
  .textarea::-moz-placeholder {
    color: #878686; }
  .textarea:-ms-input-placeholder {
    color: #878686; }
  .textarea::placeholder {
    color: #878686; }

.button {
  position: relative;
  display: inline-block;
  font-size: 18px;
  font-family: "Roboto Condensed", sans-serif;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
  background-color: #ff3366;
  color: white; }
  .button_small {
    padding: 2px 24px; }
  .button_normal {
    font-size: 24px;
    font-weight: 700;
    min-width: 280px;
    padding-top: 17px;
    padding-bottom: 13px;
    text-transform: uppercase;
    border-bottom: 5px solid #e22353; }
  .button_big {
    font-size: 30px;
    padding-top: 19.5px;
    padding-bottom: 19.5px;
    min-width: 300px;
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: 9px solid #e22353;
    letter-spacing: 1.5px; }
  .button_transparent {
    border: 2px solid #ffffff;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    padding: 10px 20px;
    background: transparent; }
    .button_transparent:hover {
      background-color: #ff3366;
      border-color: #ff3366;
      -webkit-border-radius: 0;
              border-radius: 0; }
  .button:hover {
    background-color: #e22353; }

.input, .textarea {
  -webkit-transition: border-color .3s;
  transition: border-color .3s; }

/* Blocks */
.left {
  float: left; }

.right {
  float: right; }

.center, .container {
  margin-left: auto;
  margin-right: auto; }

.title {
  text-align: center; }
  .title-labels {
    color: #ffcc00;
    font-size: 48px;
    line-height: 52px; }
    .title-labels span {
      display: inline-block;
      vertical-align: middle; }
      .title-labels span:before, .title-labels span:after {
        display: inline-block;
        vertical-align: middle;
        content: '';
        position: relative;
        top: -3px; }
      .title-labels span:before {
        background-image: url(../../img/sprite.png);
        background-position: -112px -174px;
        width: 69px;
        height: 18px;
        margin-right: 17px; }
      .title-labels span:after {
        background-image: url(../../img/sprite.png);
        background-position: -181px -174px;
        width: 69px;
        height: 18px;
        margin-left: 17px; }
  .title-bg {
    font-size: 36px; }
    .title-bg span {
      position: relative;
      background-color: #ff3366;
      display: inline-block;
      vertical-align: middle;
      padding: 19.5px 25px; }
      .title-bg span:before, .title-bg span:after {
        position: absolute;
        top: 0;
        content: ''; }
      .title-bg span:before {
        left: -31px;
        background-image: url(../../img/sprite.png);
        background-position: -314px 0px;
        width: 31px;
        height: 82px; }
      .title-bg span:after {
        right: -31px;
        background-image: url(../../img/sprite.png);
        background-position: -265px -83px;
        width: 32px;
        height: 82px; }

.popup {
  display: none;
  padding: 0 !important; }
  .popup_tariff {
    width: 1280px; }
    .popup_tariff .popup__wrap {
      margin-bottom: -1px;
      overflow: hidden; }
    .popup_tariff .popup__left, .popup_tariff .popup__right {
      min-height: 550px;
      width: 50%; }
    .popup_tariff .popup__left {
      font-family: "Amatic SC", cursive;
      font-size: 127px;
      line-height: 126.58px;
      text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.75);
      padding-left: 62px;
      padding-top: 84px;
      background-image: url("../../img/bg/coctails/3.png");
      margin-top: -1px; }
    .popup_tariff .popup__right {
      padding: 70px 35px 10px 42px; }
    .popup_tariff .popup__close {
      top: 18px;
      right: 18px; }
  .popup_callback {
    width: 410px; }
  .popup_order {
    width: 600px; }
  .popup__form {
    padding: 45px 30px 25px; }
  .popup__close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s; }
    .popup__close:hover {
      -webkit-transform: scale(0.8);
          -ms-transform: scale(0.8);
              transform: scale(0.8); }
  .popup_thanks, .popup_sub {
    position: relative;
    padding: 30px 20px !important;
    font-size: 28px;
    line-height: 40px;
    width: 350px;
    color: #333333;
    text-align: center; }
  .popup .fancybox-close-small {
    display: none; }

.form__input {
  margin-bottom: 20px; }

.form__textarea {
  margin-bottom: 28px;
  height: 170px; }

.form__button {
  min-width: 350px; }

.panel {
  position: relative;
  padding-top: 13px;
  background-color: #210334; }
  .panel:before {
    z-index: 0;
    position: absolute;
    content: '';
    background: url("../../img/bg/blik.png") no-repeat center;
    top: 0;
    width: 100%;
    height: 109px; }
  .panel .container {
    z-index: 1; }
  .panel__nav {
    margin-left: 275px;
    padding-top: 19px; }
    .panel__nav > ul > li > a:hover {
      color: #fff; }
    .panel__nav li {
      position: relative;
      font-size: 24px;
      margin-right: 75px; }
      .panel__nav li:hover > ul {
        display: block; }
      .panel__nav li > a {
        color: #ff3366;
        padding-bottom: 32px; }
      .panel__nav li > ul {
        background-color: #ff3366;
        width: 305px;
        top: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-left: -10px; }
        .panel__nav li > ul:before {
          position: relative;
          top: -29px;
          left: 30px;
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 14.5px 15px 14.5px;
          border-color: transparent transparent #ff3366 transparent; }
        .panel__nav li > ul li {
          display: block;
          margin-right: 0; }
        .panel__nav li > ul a {
          color: #fff; }
        .panel__nav li > ul > li > a {
          padding: 12px 28px; }
          .panel__nav li > ul > li > a:hover {
            background-color: #cc1e49; }
        .panel__nav li > ul > li > ul {
          background-color: #230436;
          padding-top: 15px;
          padding-bottom: 15px;
          width: 230px;
          top: 0;
          right: -230px; }
          .panel__nav li > ul > li > ul:before {
            position: relative;
            top: 13px;
            left: 0px;
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 14.5px 0 14.5px 13px;
            border-color: transparent transparent transparent #cc1e49; }
          .panel__nav li > ul > li > ul > li > a:hover {
            background-color: #701786; }
          .panel__nav li > ul > li > ul > li > a {
            padding: 8.5px 20px 8.5px 40px; }
      .panel__nav li ul {
        z-index: 10;
        display: none;
        position: absolute; }
    .panel__nav a {
      display: block; }
  .panel__call {
    text-align: right; }
  .panel__phone {
    font-size: 24px;
    padding-top: 4px; }
    .panel__phone span {
      font-weight: 700; }
  .panel__button {
    margin-top: 7px; }

.banner {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: -2px; }
  .banner_main {
    min-height: 555px;
    margin-top: -1px; }
    .banner_main .banner__title {
      padding-top: 185px; }
  .banner_service {
    padding-top: 160px;
    padding-bottom: 90px; }
    .banner_service .banner__breadcrumbs {
      margin-bottom: 10px; }
      .banner_service .banner__breadcrumbs li {
        font-weight: 300; }
        .banner_service .banner__breadcrumbs li:after {
          display: inline-block;
          vertical-align: middle;
          content: '/';
          margin-left: 7px;
          margin-right: 6px;
          font-family: "Roboto Condensed", sans-serif; }
        .banner_service .banner__breadcrumbs li:last-of-type:after {
          display: none; }
      .banner_service .banner__breadcrumbs a:hover {
        border-color: #fff; }
    .banner_service .banner__title {
      margin-bottom: 38px;
      max-width: 100%; }
    .banner_service .banner__text {
      line-height: 24px;
      max-width: 450px;
      font-weight: 300;
      margin-bottom: 56px; }
  .banner_gallery {
    min-height: 340px; }
  .banner__title {
    font-family: "Amatic SC", cursive;
    font-size: 100px;
    line-height: 100px;
    max-width: 780px;
    font-weight: 700; }

.tariffs {
  background-image: url("../../img/bg/bg-lines.png");
  padding-top: 70px;
  padding-bottom: 45px; }
  .tariffs__title {
    margin-bottom: 70px; }
  .tariffs__list {
    margin-left: -35px;
    margin-right: -35px; }
  .tariffs__item {
    width: 370px;
    margin-left: 40px;
    margin-right: 40px;
    color: #333333; }
    .tariffs__item:nth-of-type(1) {
      background-color: #eaeaea; }
    .tariffs__item:nth-of-type(2) {
      background-color: #efe4b8; }
      .tariffs__item:nth-of-type(2) .tariffs__wrap {
        border-color: #ddcf97; }
      .tariffs__item:nth-of-type(2) .tariffs__price {
        border-color: #ffcc00; }
    .tariffs__item:nth-of-type(3) {
      background-color: #efefef; }
  .tariffs__wrap {
    padding: 11px 17px;
    margin: 16px 20px;
    border: 2px solid #d8d8d8;
    min-height: 540px; }
  .tariffs__icon {
    margin-bottom: 18px; }
  .tariffs__subtitle {
    font-size: 36px;
    margin-bottom: 17px; }
  .tariffs__price {
    border: 3px dotted #ffbec3;
    width: 170px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-bottom: 22px; }
    .tariffs__price p:nth-of-type(1) {
      text-decoration: line-through; }
    .tariffs__price p:nth-of-type(2) {
      color: #ff0033;
      font-weight: 700;
      font-size: 30px; }
  .tariffs__data {
    font-size: 20px;
    text-align: left;
    margin-bottom: 15px;
    padding-left: 20px; }
    .tariffs__data li {
      margin-bottom: 25px; }
      .tariffs__data li:last-of-type {
        margin-bottom: 0; }
  .tariffs__button {
    font-size: 24px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    min-width: 1px;
    width: 100%; }

.bar-list {
  padding-top: 70px;
  padding-bottom: 30px;
  margin-top: -2px;
  margin-bottom: -2px;
  background-image: url("../../img/bg/bg-bubles.png"); }
  .bar-list__title {
    margin-bottom: 78px; }
  .bar-list__list li {
    width: 25%;
    padding-left: 75px;
    padding-right: 15px;
    position: relative;
    margin-bottom: 35px;
    font-size: 24px; }
    .bar-list__list li:before {
      position: absolute;
      content: '';
      display: block;
      left: 48px;
      top: 9px;
      background-image: url(../../img/sprite.png);
      background-position: -314px -121px;
      width: 17px;
      height: 16px; }
  .bar-list__list a {
    display: inline-block;
    vertical-align: middle;
    color: #ff3366; }
    .bar-list__list a:hover {
      border-color: #ff3366; }

.sub__img, .sub__wrap, .consultation__img, .consultation__wrap {
  width: 50%;
  min-height: 445px; }

.sub__img, .consultation__img {
  background-image: url("../../img/bg/coctails/1.png"); }

.sub__wrap, .consultation__wrap {
  background-color: #660066; }

.sub__title, .sub__form, .consultation__title, .consultation__form {
  width: 620px;
  padding-left: 70px; }

.sub__title, .consultation__title {
  color: #ff3366;
  font-size: 48px;
  line-height: 48px;
  padding-top: 60px;
  margin-bottom: 25px; }

.sub__input, .consultation__input {
  margin-bottom: 16px; }

.sub__input, .sub__button, .consultation__input, .consultation__button {
  width: 350px; }

.sub__desc, .consultation__desc {
  font-size: 18px;
  color: #cccccc;
  margin-top: 27px; }

.sub__img {
  background-image: url("../../img/bg/coctails/1.png"); }

.consultation__img {
  background-image: url("../../img/bg/coctails/2.png"); }

.consultation__desc {
  width: 350px;
  font-size: 0; }
  .consultation__desc-item {
    width: 50%; }
    .consultation__desc-item:first-of-type {
      text-align: left; }
    .consultation__desc-item:last-of-type {
      text-align: right; }

.consultation__desc p:nth-of-type(1) {
  color: #fff; }

.service {
  background: #210334;
  background: -webkit-linear-gradient(left, #210334 0%, #210334 49%, #380a49 51%, #380a49 100%);
  background: -webkit-gradient(linear, left top, right top, from(#210334), color-stop(49%, #210334), color-stop(51%, #380a49), to(#380a49));
  background: linear-gradient(to right, #210334 0%, #210334 49%, #380a49 51%, #380a49 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#210334', endColorstr='#380a49',GradientType=1 ); }
  .service__content {
    width: 1040px;
    background-color: #210334;
    padding-top: 40px;
    padding-bottom: 45px; }
  .service__text {
    max-width: 700px;
    margin-bottom: 35px;
    line-height: 24px; }
  .service__desc {
    margin-bottom: 85px; }
    .service__desc-title {
      text-transform: uppercase;
      margin-bottom: 70px; }
    .service__desc-item {
      width: 50%;
      text-align: left; }
      .service__desc-item li {
        display: block;
        padding-left: 65px;
        padding-right: 15px;
        margin-bottom: 25px;
        position: relative; }
        .service__desc-item li:before {
          position: absolute;
          content: '';
          top: 3px;
          left: 20px;
          background-image: url(../../img/sprite.png);
          background-position: -314px -82px;
          width: 27px;
          height: 21px; }
        .service__desc-item li:last-of-type {
          margin-bottom: 0; }
  .service__nav {
    width: 240px;
    background-color: #380a49;
    padding-top: 70px;
    padding-left: 68px; }
    .service__nav-title {
      color: #ff3366;
      font-weight: 700;
      margin-bottom: 45px; }
    .service__nav-list li {
      display: block;
      position: relative;
      margin-bottom: 12px; }
      .service__nav-list li:before {
        position: absolute;
        top: 2px;
        left: -27px;
        content: '';
        background-image: url(../../img/sprite.png);
        background-position: -314px -121px;
        width: 17px;
        height: 16px; }
    .service__nav-list a:hover {
      color: #ff3366;
      border-color: #ff3366; }

.advantages__title {
  margin-bottom: 35px; }
  .advantages__title span {
    padding-left: 80px;
    padding-right: 80px; }

.advantages__list {
  min-height: 585px;
  background: url("../../img/bg/polygon.png") no-repeat center 90px; }

.advantages__item {
  width: 50%;
  line-height: 24px; }
  .advantages__item:first-of-type, .advantages__item:last-of-type {
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center !important; }
  .advantages__item:nth-of-type(1) {
    margin-bottom: 90px;
    height: 90px; }
  .advantages__item:nth-of-type(2) {
    padding-top: 7px; }
  .advantages__item:nth-of-type(2), .advantages__item:nth-of-type(3) {
    margin-bottom: 105px;
    height: 110px; }
  .advantages__item:nth-of-type(4), .advantages__item:nth-of-type(5) {
    height: 120px;
    margin-bottom: 0; }
  .advantages__item:nth-of-type(even) {
    padding-right: 200px;
    text-align: right; }
  .advantages__item:nth-of-type(odd) {
    padding-left: 200px;
    text-align: left; }

.advantages__subtitle {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 3px; }

.work {
  padding-top: 45px;
  padding-bottom: 70px;
  background-color: #11011c; }
  .work__title {
    font-size: 30px;
    color: #ff3366;
    text-align: center;
    font-weight: 700;
    margin-bottom: 27px; }
  .work__item {
    width: 25%;
    text-align: left;
    font-size: 0; }
    .work__item:nth-of-type(3), .work__item:nth-of-type(4) {
      padding-left: 40px; }
  .work__icon, .work__text {
    display: inline-block;
    vertical-align: middle; }
  .work__text {
    font-size: 18px;
    line-height: 24px;
    padding-left: 17px; }

.gallery {
  padding-top: 35px;
  padding-bottom: 70px; }
  .gallery__title {
    margin-bottom: 55px; }
  .gallery__list {
    margin-left: -3px;
    margin-right: -3px;
    margin-bottom: 50px; }
  .gallery__item {
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 6px; }
    .gallery__item a {
      display: block; }

.pagination {
  text-align: center; }
  .pagination li.selected a {
    background-color: #ff3366; }
  .pagination a {
    display: block;
    font-size: 30px;
    color: #ffcc00;
    padding: 1px 10px; }
    .pagination a:hover {
      background-color: #ff3366; }
  .pagination .icon-arrow-left, .pagination .icon-arrow-right {
    position: relative;
    top: -2px; }

.page {
  padding-top: 30px; }
  .page__title {
    padding-bottom: 40px; }

.main {
  background-color: #210334; }

.footer__list {
  position: relative;
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #210334; }
  .footer__list:after {
    z-index: 1;
    position: absolute;
    display: block;
    content: '';
    background: url("../../img/bg/shadow-footer.png") no-repeat center 130px;
    width: 100%;
    height: 357px;
    bottom: 0;
    left: 0; }
  .footer__list .container {
    z-index: 2; }

.footer__item {
  text-align: left;
  width: 25%; }

.footer__icon {
  line-height: 92px;
  margin-bottom: 22px; }

.footer__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 3px; }

.footer__text {
  font-weight: 300;
  line-height: 30px;
  padding-right: 10px;
  margin-bottom: 17px; }

.footer__bottom {
  padding-top: 38px;
  padding-bottom: 38px;
  color: #cccccc;
  line-height: 30px;
  background-color: #0f0019; }

.footer__copy {
  width: 270px; }

.bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.mobile-btn {
  display: none;
  width: 45px;
  height: 32px;
  float: right;
  cursor: pointer; }
  .mobile-btn span {
    position: relative;
    display: block;
    height: 4px;
    margin-bottom: 10px;
    background: white;
    -webkit-transition: .3s;
    transition: .3s; }
    .mobile-btn span:last-of-type {
      margin-bottom: 0; }
  .mobile-btn_toggle span:nth-of-type(1) {
    top: 14px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .mobile-btn_toggle span:nth-of-type(2) {
    opacity: 0; }
  .mobile-btn_toggle span:nth-of-type(3) {
    top: -14px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
